page-match {
    ion-content {
        background-color: rgba(black, 0.8) !important;
        .scroll-content {
            display: flex;
            flex-direction: column;
            .title {
                font-size: 6.4rem;
                font-weight: bold;
                font-family: "Hipster Script Pro";
                white-space: nowrap;
                text-align: center;
                color: white;
                padding-top: 12vmin;
            }
            .sub-title {
                padding-bottom: 8vmin;
                font-size: 1.8rem;
                text-align: center;
                color: white;
                .name {
                    display: inline;
                    text-transform: capitalize;
                }
            }
            .images {
                display: flex;
                flex-grow: 1;
                padding-top: 4vmin;
                .person {
                    flex-grow: 1;
                    text-align: center;
                    img {
                        height: 38vmin;
                        width: 38vmin;
                        border-radius: 50%;
                        border: 4px solid white;
                    }
                }
            }
            .buttons {
                button {
                    font-weight: 400;
                    padding: 28px 0;
                    text-transform: uppercase;
                    margin: 2vmin 0;
                    background: -webkit-linear-gradient(to left, #fd267d, #ff7754);
                    background: linear-gradient(to left, #fd267d, #ff7754);
                    &.cancel {
                        background: transparent !important;
                        border: 2px solid transparent;
                        border-image: linear-gradient(to right, #ff7754 0%, #ff7754 60%, #fd267d 61%, #fd267d 100%) round;
                        border-image-slice: 1;
                    }
                    &.share {
                        background: transparent !important;
                        color: white;
                        ion-icon {
                            padding-right: 12px;
                        }
                    }
                }
            }
        }
    }
}